body {
    margin: auto;
}

.profile {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    border-radius: 10px;
    border: 10px solid gray;
    width: 10%;
    margin: auto;
}

ul li {
    background-color: black;
    padding: 10px;
    color: white;
}

.profile ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}

.profile ul li {
    background-color: black;
    color: white;
    padding: 12px 25px;
    margin: 5px 0;
    text-align: center;
    border-radius: 8px;
    width: 100%;
}